.dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
}

.dashboard__nav {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    min-width: 600px;
}

.dashboard__nav_link,
.dashboard__home {
    opacity: 0.4;
}

.dashboard__nav_link_selected {
    opacity: 100%;
}
